@model LarmoireWeb.Models.ApplicationUser

@{
    ViewData["Title"] = "Détails de l'utilisateur";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

<div class="card mb-4">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Prénom</dt>
            <dd class="col-sm-9">@Model.Prenom</dd>

            <dt class="col-sm-3">Nom</dt>
            <dd class="col-sm-9">@Model.Nom</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.Email</dd>


            <dt class="col-sm-3">Téléphone</dt>
            <dd class="col-sm-9">@Model.PhoneNumber</dd>

            <dt class="col-sm-3">Adresse</dt>
            <dd class="col-sm-9">@Model.Adresse</dd>

            <dt class="col-sm-3">Rôle</dt>
            <dd class="col-sm-9">@Model.Role</dd>
        </dl>
        <a asp-action="Index" class="btn btn-secondary">Retour</a>
    </div>
</div>
